@model FoodBevIngredient

<link rel="stylesheet" href="~/css/ValidateInputStyleSheet.css" asp-append-version="true" />

<h2>Add Ingredient</h2>
<hr />
@if (User.IsInRole("Owner"))
{
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form asp-controller="FoodBevIngredient" asp-action="InsertFoodBevIngredientToDatabase" method="post">

            <div class="form-group">
                <label asp-for="IngredientName" class="col-md-2">Ingredient Name</label>
                <input asp-for="IngredientName" class="form-control" required />
                <span asp-validation-for="IngredientName" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="IngredientStockLevel" class="col-md-2"> Ingredient Stock Level</label>
                <input asp-for="IngredientStockLevel" type="number" min="0" step="1" max="2147483646" class="form-control" required />
                <span asp-validation-for="IngredientStockLevel" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="IngredientCost" class="">Cost Per Unit (Between $00.00 - $99.99)</label>
                <input asp-for="IngredientCost" type="number" max="99.99" min="00.01" step="0.01" class="form-control" required />
                <span asp-validation-for="IngredientCost" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label for="">Ingredient Category</label>
                <select class="form-control" name="IngredientCategoryName" value="">
                    @foreach (var cat in Model.IngredientCategories)
                    {
                        <option value="@cat.IngredientCategoryName">@cat.IngredientCategoryName</option>
                    }
                </select>
            </div>
            <br />

            <a href="#" onclick="if(confirm('Are you sure you would like to add this ingredient?')) $(this).closest('form').submit();">Add Ingredient</a>
        </form>
    </div>
}
<br />
<input type="button" value="Return to Main Screen" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" />
