@model FoodBevIngredient

<h2>Reset Ingredient Inventory to Base Levels</h2>
<hr />
@if (User.IsInRole("Manager")||User.IsInRole("Owner"))
{
    <div style="display: block">

        @using (Html.BeginForm("ResetAllIngredientsToBaseLevelToDatabase", "FoodBevIngredient", "Post"))
        {
            <input type="submit" class="StandardButtonOutline" onclick="return confirm('Are you sure you would like to reset all inventory to base levels?')" value="Reset Inventory Levels" />
        }
    </div>
}
<br />
<input type="button" class="StandardButtonOutline" value="Return to Main Screen" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" />