@model SushiProject.Models.Employee
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <form asp-controller="Access" asp-action="Login" method="post">

        <h1>Login</h1>

        <div class="form-group">
            <label asp-for="Guest" class="col-md-2">Guest Login (Check Box - Disregard Rest of Form)</label>
            <input asp-for="Guest" type="checkbox" class="form-control" />
            <span asp-validation-for="Guest" class="text-danger"></span>
        </div>
        <br />

        <div class="form-group">
            <label asp-for="EmployeeID" class="col-md-2">Employee ID</label>
            <input asp-for="EmployeeID" type="number" placeholder="Your Employee ID" class="form-control" />
            <span asp-validation-for="EmployeeID" class="text-danger"></span>
        </div>
        <br />

        <div class="form-group">
            <label asp-for="UserName" class="col-md-2">Username</label>
            <input asp-for="UserName" type="text" placeholder="Your Username" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <br />

        <div class="form-group">
            <label asp-for="Password" class="col-md-2">Password</label>
            <input asp-for="Password" type="password" placeholder="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <br />

        <div class="form-group">
            <label>
                <input type="checkbox" asp-for="KeepLoggedIn" />Keep Me Logged In
            </label>
        </div>
        <br />

        <button type="submit">Login</button>

        @if (ViewData["ValidateMessage"] != null)
        {
            <br />
            <br />
            <label>@ViewData["ValidateMessage"]</label>
        }
    </form>
    <br />

    <div style="display: block">
        <a href="/home/index">Go To Home</a>
    </div>
    <br />
</body>
</html>
