@model SalesTransaction

<h2>Create New Transaction - Step 2</h2>
<br />

@if (User.IsInRole("Manager") || User.IsInRole("Owner"))
{
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form asp-controller="SalesTransaction" asp-action="InsertSalesTransactionToDatabase" method="post">

            <div class="form-group">
                <input asp-for="EmployeeID" type="hidden" class="form-control" />
                <span asp-validation-for="EmployeeID" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label for="">Assign Table</label>
                <select class="form-control" name="RestaurantTableID" value="">
                    @foreach (var table in Model.RestaurantTableList)
                    {
                        <option value="@table.RestaurantTableID">@table.RestaurantTableID</option>
                    }
                </select>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="AllYouCanEat">All You Can Eat (Check if applicable)</label>
                <input asp-for="AllYouCanEat" type="checkbox" />
                <span asp-validation-for="AllYouCanEat" class="text-danger"></span>
            </div>
            <br />

            <p>Only enter the information below for "All You Can Eat" Customers. Otherwise, leave defaults.</p>
            <br />
            <div class="form-group">
                <label asp-for="NumOfCustomersAdult">Number of Adults</label>
                <input asp-for="NumOfCustomersAdult" type="number" max="100" min="0" step="1" value="0" />
                <span asp-validation-for="NumOfCustomersAdult" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="NumOfCustomersChild">Number of Children</label>
                <input asp-for="NumOfCustomersChild" type="number" max="100" min="0" step="1" value="0" />
                <span asp-validation-for="NumOfCustomersChild" class="text-danger"></span>
            </div>
            <br />

            <a href="#" onclick="if(confirm('Are you sure you would like to create the transaction')) $(this).closest('form').submit();">Create Transaction</a>
        </form>
    </div>
}
<br />
<input type="button" value="Return to Main Screen" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" />

