@model SalesTransaction

<h2>Payment Receipt</h2>
<br />

<div class="row">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <form asp-controller="SalesTransaction" asp-action="CheckPassword" method="post">

        <div class="form-group">
            <input asp-for="SalesTransactionID" type="hidden" class="form-control" />
            <span asp-validation-for="SalesTransactionID" class="text-danger"></span>
        </div>
        <br />

        <div class="form-group">
            <label asp-for="CustomerLogoutPassword" class="col-md-2">Logoff Password</label>
            <input asp-for="CustomerLogoutPassword" type="password" placeholder="Password" class="form-control" />
            <span asp-validation-for="CustomerLogoutPassword" class="text-danger"></span>
        </div>
        <br />

        <input type="submit" value="Logout" class="btn btn-primary" />
    </form>
</div>

<div style="display: block">
    @using (Html.BeginForm("ShowFinalReceipt", "SalesTransaction", "Post"))
    {
        <input type="hidden" asp-for="SalesTransactionID" value="@Model.SalesTransactionID" />
        <input type="submit" value="Back" />
    }
</div>
