@model IEnumerable<RestaurantTable>

<h2>Restaurant Tables</h2>

<br/>
@if (User.IsInRole("Manager") || User.IsInRole("Owner"))
{
    <div style="display: block">
        <a href="/Restaurant/InsertRestaurantTable/">Add New Table</a>
    </div>
    <br />
}

<table class="table">
    <tr>
        <th>RestaurantTableID</th>
        <th>RestaurantTableAssignedEmployeeID</th>
        <th>RestaurantTableAssignedEmployeeFirstName</th>
        <th>RestaurantTableAssignedEmployeeLastName</th>
    </tr>

    @foreach (var table in @Model)
    {
        <tr>
            <td><a href=/RestaurantTable/ViewRestaurantTable/@table.RestaurantTableID>@table.RestaurantTableID</a></td>
            @*Does bring me to RestaurantTable Controller and ViewRestaurantTable action as desired. It does not send restaurant table ID (int) for some reason though*@
            <td>
                @if(@table.RestaurantTableAssignedEmployeeFirstName == null)
                {
                    @table.RestaurantTableAssignedEmployeeFirstName @table.RestaurantTableAssignedEmployeeLastName
                    @*How how add "Unassigned" text otherwise?*@
                }
            </td>
        </tr>
    } 
</table>