@model IEnumerable<RestaurantTable>

<h2>Restaurant Tables</h2>

<br/>
@if (User.IsInRole("Manager") || User.IsInRole("Owner"))
{
    <div style="display: block">
        <a href="/Restaurant/InsertRestaurantTable/">Add New Table</a>
    </div>
    <br />
}

<table class="table">
    <tr>
        <th>Table Number</th>
        <th>Assigned Server</th>
    </tr>
    
    @foreach (var rtable in @Model)
    {
        <tr>
            <td><a href=@Url.Action("ViewRestaurantTable", "RestaurantTable", new { RestaurantTableID = rtable.RestaurantTableID })>@rtable.RestaurantTableID</a></td>
            @*<td><a href=/RestaurantTable/ViewRestaurantTable/@rtable.RestaurantTableID>@rtable.RestaurantTableID</a></td>*@
            <td>
                @if(rtable.RestaurantTableAssignedEmployeeFirstName != null)
                {
                    @rtable.RestaurantTableAssignedEmployeeFirstName @rtable.RestaurantTableAssignedEmployeeLastName
                    @*How how add "Unassigned" text otherwise?*@
                }
            </td>
        </tr>
    }
</table>