@model RestaurantTable

<h2>Create New Table</h2>
<div class="row">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <form asp-controller="RestaurantTable" asp-action="InsertRestaurantTableToDatabase" method="post">
        @*<div class="form-group">
            <label asp-for="RestaurantTableID" class="col-md-2">Table Number</label>
            <input asp-for="RestaurantTableID" class="form-control" />
            <span asp-validation-for="RestaurantTableID" class="text-danger"></span>
        </div>
        <br />*@

        <input type="submit" value="Add New Table" class="btn btn-primary" />
    </form>
</div>
