@model AllYouCanEat

<link rel="stylesheet" href="~/css/ValidateInputStyleSheet.css" asp-append-version="true" />

<style>
    h3 {
        color: red;
    }
</style>

@if (Model.Adult == true)
{
    <h2>Change All You Can Eat Rate - Adult</h2>
    <hr />
}
else
{
    <h2>Change All You Can Eat Rate - Child</h2>
    <hr />
}

<div class="row">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <form asp-controller="Admin" asp-action="InsertAllYouCanEatRateToDatabase" method="post">
        @if (User.IsInRole("Owner"))
        {
            @if (Model.Success == false)
            {
                <h3>A parameter(s) entered was invalid. Please try again.</h3>
            }
            <div class="form-group">
                <input asp-for="Success" type="hidden" class="form-control" />
                <span asp-validation-for="Success" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="Adult" type="hidden" class="form-control" />
                <span asp-validation-for="Adult" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="AllYouCanEatRate">Old Rate</label>
                <input asp-for="AllYouCanEatRate" type="number" min="0" max="100" step="0.01" required/>
                <span asp-validation-for="AllYouCanEatRate" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="NewAllYouCanEatRate">New Rate</label>
                <input asp-for="NewAllYouCanEatRate" type="number" min="0" max="100" step="0.01" required/>
                <span asp-validation-for="NewAllYouCanEatRate" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="ConfirmAllYouCanEatRate">Confirm New Rate</label>
                <input asp-for="ConfirmAllYouCanEatRate" type="number" min="0" max="100" step="0.01" required/>
                <span asp-validation-for="ConfirmAllYouCanEatRate" class="text-danger"></span>
            </div>
            <br />

            <a href="#" class="StandardButtonOutline" onclick="if(confirm('Are you sure you would like to change the All You Can Eat rate?')) $(this).closest('form').submit();"><button>Change Rate</button></a>
        }
    </form>
</div>
<br />
<input type="button" class="StandardButtonOutline" value="Return to Main Screen" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" />