@model CustomerLogoutPassword

<h2>Change Customer Logout Password</h2>
<hr />
<div class="row">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <form asp-controller="Admin" asp-action="InsertCustomerLogoutPasswordToDatabase" method="post">
        @if (User.IsInRole("Owner"))
        {
             @if (Model.Success == false)
            {
                <h3>A parameter(s) entered was invalid. Please try again.</h3>
                <br />
            }

            <div class="form-group">
                <input asp-for="Success" type="hidden" class="form-control" />
                <span asp-validation-for="Success" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="CurrentPassword">Old Password</label>
                <input asp-for="CurrentPassword" type="password" required/>
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            <br />

             <div class="form-group">
                <label asp-for="NewPassword">New Password</label>
                <input asp-for="NewPassword" type="password" required/>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="ConfirmPassword">Re-Enter New Password</label>
                <input asp-for="ConfirmPassword" type="password" required/>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <br />

            <a href="#" onclick="if(confirm('Are you sure you would like to change the password?')) $(this).closest('form').submit();">Change Password</a>
        }
    </form>
</div>
<br />
<input type="button" value="Return to Main Screen" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" />