@model TaxRate

<link rel="stylesheet" href="~/css/ValidateInputStyleSheet.css" asp-append-version="true" />

<style>
    h3 {
        color: red;
    }
</style>

<h2>Change Tax Rate</h2>
<hr />
<div class="row">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <form asp-controller="Admin" asp-action="InsertTaxRateToDatabase" method="post">
        @if (User.IsInRole("Owner"))
        {
            @if (Model.Success == false)
            {
                <h3> A parameter(s) entered was invalid. Please try again.</h3>
            }
            <div class="form-group">
                <input asp-for="Success" type="hidden" class="form-control" />
                <span asp-validation-for="Success" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CurrentTaxRate">Old Tax Rate</label>
                <input asp-for="CurrentTaxRate" type="number" min="0" max="1" step="0.0001" required/>
                <span asp-validation-for="CurrentTaxRate" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="NewTaxRate">New Tax Rate</label>
                <input asp-for="NewTaxRate" type="number" min="0" max="1" step="0.0001" required/>
                <span asp-validation-for="NewTaxRate" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="ConfirmNewTaxRate">Confirm New Tax Rate</label>
                <input asp-for="ConfirmNewTaxRate" type="number" min="0" max="1" step="0.0001" required/>
                <span asp-validation-for="ConfirmNewTaxRate" class="text-danger"></span>
            </div>
            <br />

            <a class="btn btn-primary" href="#" onclick="if(confirm('Are you sure you would like to change the tax rate?')) $(this).closest('form').submit();">Change Tax Rate</a>
        }
    </form>
</div>
<br />
<input type="button" class="StandardButtonOutline" value="Return to Main Screen" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" />