@model ClockInOut

<h2>Clock-Out</h2>
<br />

@if (User.IsInRole("Server") || User.IsInRole("Chef") || User.IsInRole("Manager"))
{
    @if (Model.Success == false)
    {
        <p>Employee ID and/or Password were invalid. Please try again.</p>
    }
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form asp-controller="Admin" asp-action="ClockOutToDatabase" method="post">

            <div class="form-group">
                <label asp-for="EmployeeID" class="col-md-2">Employee ID</label>
                <input asp-for="EmployeeID" type="number" min="0" step="1" class="form-control" required />
                <span asp-validation-for="EmployeeID" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="Password" class="col-md-2">Password</label>
                <input asp-for="Password" type="password" class="form-control" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <br />

            <a href="#" onclick="if(confirm('Are you sure you would like to clock-out?')) $(this).closest('form').submit();">Clock-Out</a>
        </form>
    </div>
    <br />
}

<input type="button" value="Return to Main Screen" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" />
