@model ClockInOut

<link rel="stylesheet" href="~/css/ValidateInputStyleSheet.css" asp-append-version="true" />

<h2>Clock-In</h2>
<hr />
@if (User.IsInRole("Server")|| User.IsInRole("Chef") || User.IsInRole("Manager"))
{
    @if (Model.Success == false)
    {
        <p>Employee ID and/or Password were invalid. Please try again.</p>
    }
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form asp-controller="Admin" asp-action="ClockInToDatabase" method="post">

            <div class="col-md-2">
                <label asp-for="EmployeeID" >Employee ID</label>
                <input asp-for="EmployeeID" type="number" min="0" step="1" required />
                <span asp-validation-for="EmployeeID" class="text-danger"></span>
            </div>
            <br />

            <div class="col-md-2">
                <label asp-for="Password" >Password</label>
                <input asp-for="Password" type="password" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <br />

            <a href="#" onclick="if(confirm('Are you sure you would like to clock-in?')) $(this).closest('form').submit();"><button>Clock-In</button></a>
        </form>
    </div>
    <br />
}

<input type="button" value="Return to Main Screen" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" />
