@model CustomerLogoutPassword

<h2>Password Changed Successfully</h2>
<br />

<input type="button" class="StandardButtonOutline" value="Return to Main Screen" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" />