@model CustomerLogoutPassword

<h2>Tax Rate Changed Successfully</h2>
<br />

<input type="button" value="Return to Main Screen" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" />