@model MoneyAccounting

<link rel="stylesheet" href="~/css/ValidateInputStyleSheet.css" asp-append-version="true" />

<h2>Transfer Funds</h2>
<hr />
@if (User.IsInRole("Manager") || User.IsInRole("Owner"))
{
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form asp-controller="Admin" asp-action="InsertFundsToDatabase" method="post">

            <div class="form-group">
                <input asp-for="DebitOrCredit" type="hidden" class="form-control" required />
                <span asp-validation-for="DebitOrCredit" class="text-danger"></span>
            </div>

           <div class="form-group">
                <input asp-for="DebitCreditType" type="hidden" class="form-control" required />
                <span asp-validation-for="DebitCreditType" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DebitCreditAmount">Amount to Transfer (Enter as positive number)</label>
                <input asp-for="DebitCreditAmount" type="number" min="0.01" step=".01" max=100000000 class="form-control" required />
                <span asp-validation-for="DebitCreditAmount" class="text-danger"></span>
            </div>
            <br />

            <a href="#" class="StandardButtonOutline" onclick="if(confirm('Are you sure you would like to transfer funds?')) $(this).closest('form').submit();"><button>Transfer Funds</button></a>
        </form>
    </div>
}
<br />
<input type="button" class="StandardButtonOutline" value="Return to Main Screen" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" />