@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jack's Sushi Project</h1>

    <picture>
        <img src="/Images/Sushi_Pic.jpg" alt="My logo">
    </picture>
    <br />
    <br />
    <div class="main-page-buttons">
        <button type="button">Employee</button>
        <button type="button">Customer</button>

        @*<button type="button">Chef</button>
        <button type="button">Customer</button>*@

        @*How to create a button that will go to a different webpage*@
        @* <button onclick="openTab()">Educative</button>

        <script>
        function openTab() {
        window.open("https://www.educative.io/", "_blank");
        }
        </script>*@

    </div>
</div>